<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="/fragments/layoutFragments :: head(title='', cssUrl='/css/article/articleView.css')" />  
<body class="vlg-dark">
	<nav th:replace="/fragments/layoutFragments :: nav( ${session.user} )"></nav>

    <div class="main-container">


        <div class="article-container" th:object="${article}">
            
            <h1>[[${article.title}]]</h1>

            <div class="top-info-container">

                <span>
                    <a th:href="|/@${article.author.username}|">[[ ${article.author.username} ]]</a>
                    <span>•</span>
                    <span th:text="${article.postDate}"></span>
                </span>

                <span class="tool-btn-box">
                    <a href="">통계</a>
                    <a href="">수정</a>
                    <a href="">삭제</a>
                </span>

            </div>
            
            <div class="tag-container">
                <span class="tag">Tag1</span>
                <span class="tag">Tag2</span>
            </div>


            <div class="side-option-container">
                <div class="side-option-box">
                    <div class="side-option">
                        <button class="side-btn animate__heartBeat" id="likes-btn">
                            <img class="love-icon" src="/img/heart_unliked.png" width="25px" height="25px">
                        </button>
                        <div class="like-num" th:text="${article.likes}"></div>
                        <button class="side-btn" id="share-btn">
                            <img class="share-icon" src="/img/share.png" width="25px" height="25px">
                        </button>
                    </div>
                </div>
            </div>
    

            <div class="series-box">
                <span class="box1">
                    <span>Series Title(tme)</span>
                    <span id="bookmark">
                        <div></div>
                        <div></div>
                    </span>
                </span>
                <br><br><br><br>
            </div>

            <div class="content-box" th:utext="${article.content}"></div>

        </div>

        


    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/article/articleView.js"></script>
    <script th:inline="javascript">
    /*<![CDATA[*/

        const articleId =  $.parseJSON("[[ ${article.id} ]]");
        const isLiked = $.parseJSON("[[ ${isLiked} ]]");

    /*]]>*/
    </script>
</body>
</html>