:root {
    --vlg-dark : #121212;
    --vlg-green: #63E6BE;
    --vlg-green-hover: #4db596;
    --vlg-bg: #272727;
    }

.main-container{

}


.top-info-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.tool-btn-box{
    text-align: right;
}


.tool-btn-box > a{
    padding-left: 10px;
}

.article-container {
    margin: 88px 372px;
    height: auto;
}

.article-container>h1{
    font-size: 3em;
    font-weight: 800;
}


.tag-container{
    margin: 20px 0;
}

.tag{
    color: var(--vlg-green);
    margin-right: 10px;
    padding: 6px 20px;
    border-radius: 30px;
    background-color: var(--vlg-bg);
}

.tag:hover{
    color: var(--vlg-green-hover);
    background-color: #212121;
    cursor: pointer;
}


.series-box{
    background-color: var(--vlg-bg);
    border-radius: 10px;
}

.series-box > span.box1{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 25px;

}

.series-box > span.box1 :nth-child(1){
    font-size: 30px;
    font-weight: 500;
}

#bookmark{
    display: inline-block;
    width: 30px;
    height: 70px;
    background-color: var(--vlg-green);
}

#bookmark :nth-child(1){
    margin-top: 20px;
    width: 0;
    height: 0;
    border-bottom: 15px solid var(--vlg-bg);
    border-top: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

#bookmark :nth-child(2){
    width: 30px;
    height: 20px;
    background-color: var(--vlg-bg);
}

.content-box{
    margin-top: 30px;
}


.side-option-container{
    height: 20px;
}


.side-option-box{
    position: absolute;
    top: 360px;
    left: 270px;
    width: 75px;
    background-color: var(--vlg-dark);
}



.side-option{
    position: sticky;
    top: 200px;
    background-color: var(--vlg-bg);
    width: 75px;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid rgb(54, 54, 54);
}



/* ############## */
.side-btn {
    width: 55px;
    height: 55px;
    background-color: var(--vlg-bg);
    border-radius: 50%;
    border: 1px solid gray ;
}

.btn-active {
    background-color: var(--vlg-green) !important;
}

.side-btn:hover {
    border-color: #f5f5f5 ;
}


.like-num{
    padding: 3px 0 10px 0;
    text-align: center;
}

.comment-box{
    border-top: 1px solid #2A2A2A;
    padding: 20px 0;
}


