:root {
    --vlg-bg: #272727;
}


/* article-container */
section#article-container{
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: 30px auto;
}

/* article-box */
div.article-box{
    width: 320px;
    height: 400px;
    border-radius: 10px;
    background-color: var(--vlg-bg);
    margin: 20px 10.094px;
    transition: all .4s;

}



div.article-box img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* article -> text section */
div.article-box  section{
    background-color: var(--vlg-bg);
}