<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.selog.mapper.ArticleMapper">
 
  	<select id="getArticleByUri" parameterType="Map" resultMap="ArticleDtoMap">
 	<![CDATA[
 		SELECT 
 			*,
 			(SELECT COUNT(*) FROM likes WHERE article_id = article.id) AS likes
 		FROM 
 			article
 		WHERE
 			   author_id = (SELECT id FROM member WHERE username = #{username})
 			&& member_page_id = #{memberPageId}
 	]]>
 	</select>
 	
 	
 	<!--****************** article과 author(MemberDto 객체)를 같이 매핑해서 가져오기. ******************-->
 	<select id="getArticles" resultMap="ArticleDtoMap">
 	<![CDATA[
 		SELECT 
 			*
 		FROM
 			article		
 	]]>
 	</select>

 		
 	<resultMap id="ArticleDtoMap" type="ArticleDto">
 		<id column="id" property="id" />
 		<result column="member_page_id" property="memberPageId" />
 		<result column="title" property="title" />
 		<result column="content" property="content" />
 		<result column="img" property="img" />
 		<result column="post_date" property="postDate" />
 		<result column="author_id" property="authorId" />
 		<result column="likes" property="likes" />
 		<association column="author_id" property="author" select="getMemberById" />
 	</resultMap>

	<select id="getMemberById" parameterType="int" resultType="MemberDto">
	<![CDATA[
 		SELECT
 			*
 		FROM 
 			member
 		WHERE 
 			id = #{author_id}
	]]>
	</select>
 	<!-- ************************************************************************ -->


	<insert id="doLike" parameterType="Map">
	<![CDATA[
		INSERT INTO
			likes
			( article_id
			, member_id
			) 
			VALUES
			( #{article_id}
			, #{member_id}
			)
	]]>
	</insert>
	
	<delete id="cancelLike" parameterType="map">
	<![CDATA[
		DELETE FROM 
			likes
		WHERE
			article_id = #{article_id}
			&&
			member_id = #{member_id}
	]]>
	</delete>
	
 </mapper>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 