<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.selog.mapper.ArticleMapper">
 

  	<select id="getArticleByUri" parameterType="Map" resultMap="ArticleDtoMap">
 	<![CDATA[
 		SELECT 
 			*,
 			(SELECT COUNT(*) FROM likes WHERE article_id = article.id) AS likes
 		FROM 
 			article
 		WHERE
 			   author_id = (SELECT id FROM member WHERE username = #{username})
 			&& member_page_id = #{memberPageId}
 	]]>
 	</select>
 	
 	
 	<select id="getArticles" resultMap="ArticleDtoMap">
 	<![CDATA[
 		SELECT 
 			*
 		FROM
 			article		
 	]]>
 	</select>
 	
 	
 	<select id="getSummarizedArticles" resultMap="ArticleDtoMap">
 	<![CDATA[
 		SELECT 
 			*, 
 			CONCAT( LEFT(content, 85), '...' ) AS summarizedContent
 		FROM
 			article		
 	]]>
 	</select>
 	

 		
 	<resultMap id="ArticleDtoMap" type="ArticleDto">
 		<id column="id" property="id" />
 		<result column="member_page_id" property="memberPageId" />
 		<result column="title" property="title" />
 		<result column="content" property="content" />
 		<result column="img" property="img" />
 		<result column="post_date" property="postDate" />
 		<result column="author_id" property="authorId" />
 		<result column="likes" property="likes" />
 		<association column="author_id" property="author" select="getMemberById" />
 		<collection column="id" property="comments" select="getComment" />
 	</resultMap>


	<select id="getMemberById" parameterType="int" resultType="MemberDto">
	<![CDATA[
 		SELECT
 			*
 		FROM 
 			member
 		WHERE 
 			id = #{author_id}
	]]>
	</select>
	
	
	<select id="getComment" parameterType="int" resultMap="CommentDtoMap">
	<![CDATA[
 		SELECT
 			*
 		FROM 
 			comment
 		WHERE 
 			article_id = #{article_id}
	]]>
	</select>


	<resultMap id="CommentDtoMap" type="CommentDto">
		<id column="id" property="id" />
		<result column="content" property="content" />
		<result column="article_id" property="articleId" />
		<result column="member_id" property="memberId" />
		<result column="reg_date" property="regDate" />
		<association column="member_id" property="author" select="getMemberById" />
	
	</resultMap>


	<insert id="doLike" parameterType="Map">
	<![CDATA[
		INSERT INTO
			likes
			( article_id
			, member_id
			) 
			VALUES
			( #{article_id}
			, #{member_id}
			)
	]]>
	</insert>

	
	<delete id="cancelLike" parameterType="map">
	<![CDATA[
		DELETE FROM 
			likes
		WHERE
			article_id = #{article_id}
			&&
			member_id = #{member_id}
	]]>
	</delete>
	
	
	<insert id="insertArticle" parameterType="ArticleDto">
	<![CDATA[
		INSERT INTO
			article
			( 
			  member_page_id
			, title
			, content
			, post_date
			, author_id
			) 
			VALUES
			( 
			  (SELECT COUNT(*) FROM (SELECT member_page_id, author_id FROM article) article WHERE author_id = #{authorId}) + 1
			, #{title}
			, #{content}
			, NOW()
			, #{authorId}
			)
	]]>
	</insert>
	
	
	<insert id="insertComment" parameterType="CommentDto">
	<![CDATA[
		INSERT INTO
			comment
			( 
			  content
			, article_id
			, member_id
			, reg_date
			) 
			VALUES
			( 
			#{content}
			, (
				SELECT 
					id 
				FROM 
					article 
				WHERE
					author_id = (SELECT id FROM member WHERE username = #{articleUri.username})
				&&  member_page_id = #{articleUri.memberPageId}
				)
			, #{memberId}
			, NOW()
			)
	]]>
	</insert>
	
	
 </mapper>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 